.contentContainer {
    height: 100vh;

    input[type="text"]{
        vertical-align: top;
        white-space: normal;
    }

    .inquiryInput {
        position: absolute;
        margin-bottom: 64px;
        bottom: 0;
    }

    .submitButton {
        color: black;
    }
}