.contentContainer {
    height: 100vh;

    .conversationContainer {
        height: 65vh;
    }

    input[type="text"]{
        vertical-align: top;
        white-space: normal;
    }

    .inquiryInput {
        width: 700px;
        margin-bottom: 64px;
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%)
    }

    .submitButton {
        color: black;
    }
}